---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1>{{ page.title }}</h1>
    <p class="meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
  {{ content | remove: site.excerpt_separator }}
  </article>

</div>

<div>
<a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-via="mirkokiefer" data-size"large" data-dnt="true">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>

<div class="read-on">
<strong>Catch up on our latest posts:</strong>
<ul>
  <li>
    <a href="/blog/2014/04/livelynotes-1-1-tasks-and-notes-together/">LivelyNotes 1.1 - bringing tasks and notes together</a>
  </li>
  <li>
    <a href="/blog/2014/04/getting-to-livelynotes-1-0/">Getting to LivelyNotes 1.0</a>
  </li>
  <li>
    <a href="/blog/2014/04/why-just-another-productivity-app/">Why just another productivity app?</a>
  </li>
</ul>
</div>

{% if page.comments %}
<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'mirkokiefer'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
{% endif %}